.formAdd {
  color: wheat;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 0.493) 0%,
    rgba(29, 120, 200, 0.4) 10%,
    rgba(0, 213, 255, 0.53) 100%
  );

  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 10rem;
}
.input {
  display: flex;
  flex-direction: column;
  text-align: center;
}
input {
  border-style: groove;
  text-align: center;
}
