.formAdd {
  

  background: #9c27b04d;

  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 10rem;
}
.input {
  display: flex;
  flex-direction: column;
  text-align: center;
}
input {
  border-style: groove;
  text-align: center;
}
