.product {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  border-radius: 0.75em;
  cursor: pointer;
}

p {
  text-align: center;
}
h1 {
  text-align: center;
}
.info {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 1rem;
}
.category {
  color: aliceblue;
  text-align: center;
  width: 20%;
  background-color: blue;
}
.deleteButton {
  width: 70%;
  background-color: blueviolet;
  border-radius: 8px;
  margin: 4% 16% 0% 16%;
}
.editButton {
  border-radius: 8px;
  margin-bottom: 10px;
}
