.sideBar {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: solid;
  width: 100px;
  background-color: rgb(57 98 230 / 18%);
}
.Home {
  /* background-color: aqua; */
  border-radius: 8px;
  text-align: center;
}
.About {
  text-align: center;
  /* background-color: rgb(236, 102, 12); */
  border-radius: 8px;
}
.linkSide {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: sticky;
  top: 15rem;
}
.aboutUsImg{
  width: 76%;
  margin-bottom: -25%;
}
.homeImg{
  width: 81%;
  margin-bottom: -25%;
}
